@font-face {
  font-family: 'Freight Big';
  src: url('/fonts/Freight Big Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Freight Big';
  src: url('/fonts/Freight Big Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Freight Big', serif;
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
  background-color: #000000;
}

h1 {
  font-size: 4rem;
}

p {
  font-weight: 500;
}
